# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/
.env

# Android gradle files and local configurations
.gradle/
local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/libraries/
.idea/caches/
/build
/*/build/
*.apk
*.aar
*.ap_
*.aab

# OS files
.DS_Store
Thumbs.db
